<div class="panel">
    <h3 class="panel__title">JIX Management Panel</h3>
    <div class="panel__content">
        <ul class="admin-list">
            <li>
                <a href="/admin/manage-job-applications">
                    <span class="label">Les sollicitations</span>
                    <div class="description">Gérer les sollicitations.</div>
                </a>
            </li>
            <li>
                <a href="/admin/manage-jobs">
                    <span class="label">Les offres d'emplois</span>
                    <div class="description">Gérer les offres d'emplois.</div>
                </a>
            </li>
            <li>
                <a href="/admin/manage-employers">
                    <span class="label">Les employeurs</span>
                    <div class="description">Gérer les employeurs.</div>
                </a>
            </li>
            <li>
                <a href="/admin/manage-news">
                    <span class="label">Les actualités</span>
                    <div class="description">Gérer les actualités.</div>
                </a>
            </li>
            <li>
                <a href="/admin/manage-banners">
                    <span class="label">Les banners</span>
                    <div class="description">Gérer les banners de publicité.</div>
                </a>
            </li>
        </ul>
    </div>
</div>