<div class="row">
    <div class="col-md-3 col-sm-12 pricing-plan-block">
        <div class="jir-pricing-plan panel panel-success">
            <div class="panel-heading">A la une</div>

            <div class="panel-body jir-pricing-price">
                <p>40,000rwf</p>
            </div>

            <ul class="list-group">
                <li class="list-group-item">Adapted for ALL: jobs, tenders, internship, ...</li>
                <li class="list-group-item">Publication (push online) immediately</li>
                <li class="list-group-item">Appears on the Featured list</li>
                <li class="list-group-item">Appears on TOP of targeted list</li>
                <li class="list-group-item">Appears on TOP of targeted list</li>
                <li class="list-group-item">Edit/Change content anytime</li>
                <li class="list-group-item">Your logo appears on the featured list</li>
                <li class="list-group-item">Receive applications by email on request</li>
                <li class="list-group-item">Publication period: maximum a month</li>
            </ul>
            <div class="panel-footer"><a class="btn btn-primary btn-block"
                                         href="/node/add/job?edit[field_job_posting_plan]=featured" role="button">Choisir</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 pricing-plan-block">
        <div class="jir-pricing-plan panel panel-success">
            <div class="panel-heading">A la une+</div>

            <div class="panel-body jir-pricing-price">
                <p>100,000rwf</p>
            </div>

            <ul class="list-group">
                <li class="list-group-item">Adapted for ALL: jobs, tenders, internship, ...</li>
                <li class="list-group-item">Publication (push online) immediately</li>
                <li class="list-group-item">Appears on TOP of Featured list</li>
                <li class="list-group-item">Edit/Change content anytime</li>
                <li class="list-group-item">Your logo appears on the featured list</li>
                <li class="list-group-item">Custom application form* on request</li>
                <li class="list-group-item">We deliver an excel sheet containing applications form's answers + CVs</li>
                <li class="list-group-item">Publication period: as long as necessary</li>
            </ul>
            <div class="panel-footer"><a class="btn btn-primary btn-block"
                                         href="/node/add/job?edit[field_job_posting_plan]=featured_custom"
                                         role="button">Choisir</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 pricing-plan-block">
        <div class="jir-pricing-plan panel panel-success">
            <div class="panel-heading">Présélection</div>

            <div class="panel-body jir-pricing-price">
                <p>240,000rwf</p>
            </div>

            <ul class="list-group"><li class="list-group-item">Adapted ONLY for: jobs, internship, training</li>
                <li class="list-group-item">Publication (Push online) immediately</li>
                <li class="list-group-item">Appears on the Featured list</li>
                <li class="list-group-item">Edit/Change content anytime</li>
                <li class="list-group-item">Your logo appears on the featured list</li>
                <li class="list-group-item">Custom application form* on request</li>
                <li class="list-group-item">Short-listing/Pre-selection**</li>
                <li class="list-group-item">We check all the applications and deliver 10 best CV's</li>
                <li class="list-group-item">Publication period: as long as necessary</li>
            </ul><div class="panel-footer"><a class="btn btn-primary btn-block" href="/node/add/job?edit[field_job_posting_plan]=featured_shortlist" role="button">Choisir</a></div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 pricing-plan-block">
        <div class="jir-pricing-plan panel panel-success">
            <div class="panel-heading">Recrutement</div>

            <div class="panel-body jir-pricing-price">
                <p>Salaire mensuel brut</p>
            </div>

            <ul class="list-group"><li class="list-group-item">Adapted ONLY for jobs</li>
                <li class="list-group-item">Meeting to agree on a mission contract</li>
                <li class="list-group-item">Write/Approve job descriptions</li>
                <li class="list-group-item">Target the best candidats</li>
                <li class="list-group-item">Short-listing/Pre-selection**</li>
                <li class="list-group-item">Check references</li>
                <li class="list-group-item">Interviews</li>
                <li class="list-group-item">Placement of candidates</li>
                <li class="list-group-item">Guarantie for 3 months</li>
            </ul><div class="panel-footer"><a class="btn btn-primary btn-block" href="/contact" role="button">Contactez-nous</a></div>
        </div>
    </div>
</div>