<div class="region region-content">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fas fa-cogs"></i> JIX Management Panel</h3>
        </div>
        <div class="panel-body">
            <a href="/manage/job-applications" class="btn btn-success btn-lg col-md-2 col-md-offset-2 col-xs-12" role="button"><i class="fas fa-file-contract"></i> Job applications</a>
            <a href="/manage/jobs" class="btn btn-info btn-lg col-md-2 col-xs-12" role="button"><i class="fas fa-people-carry"></i> Jobs</a>
            <a href="/manage/employers" class="btn btn-warning btn-lg col-md-2 col-xs-12" role="button"><i class="fas fa-users"></i> Employers</a>
        </div>
    </div>
</div>